<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>504308551440-9ievuqra2bc4i37l6d31540rjce4p69a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504308551440-9ievuqra2bc4i37l6d31540rjce4p69a</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Smxs33W7gGTWHLnbkpj29eOf_UsVdWM</string>
	<key>GCM_SENDER_ID</key>
	<string>504308551440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sapnapatel.UV-Safe</string>
	<key>PROJECT_ID</key>
	<string>uv-safe-175201</string>
	<key>STORAGE_BUCKET</key>
	<string>uv-safe-175201.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:504308551440:ios:75dcaa7ab96bdbf2</string>
	<key>DATABASE_URL</key>
	<string>https://uv-safe-175201.firebaseio.com</string>
</dict>
</plist>